/* sm */
@media (min-width:640px) {}

/* md */
@media (min-width:768px) {

 
}

/* lg */
@media (min-width:1024px) {
    /* .hh{
        height: 100%;
    }
    .contact-part{
        height: 130vh;
    }
    .p1{
        height: 90%;
    }
    .p1 .container-lg{
        padding-top: 90px;
    } */
}

/* xl */
@media (min-width:1280px) {}

/* 2xl */
@media (min-width:1536px) {}